@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,200&display=swap');


*{
    margin: 5px 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #777;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: Black;
}

/* Utility classes  */

.tool-heading{
    text-align: center;
    margin-top: 1.5rem ;
}
.btn{
    background: linear-gradient(yellow , rgb(128, 209, 128));
   padding: 1px 5px;
    border-radius: 10px;
    text-align: center;
    width: 120px;
    margin: auto;
    /* border: 2px solid black; */
}
.btn:hover{
    background: linear-gradient( rgb(128, 209, 128), yellow);
    color: blue;
}


.tool-names{
    background: linear-gradient(to right,  yellow , rgb(128, 209, 128));
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    height: 30px;
    text-transform: capitalize;
    padding: 2rem 0rem;
    margin-top: 1.5rem;
    
}

.tool-name{
    font-size: 1.5rem;
    margin: 1.5rem;
}
.tool-container{
    display: flex;
    margin: 2rem 0rem;
}

.photo{
    /* border: 1px solid black; */
    width: 50%;
    height: 500px;
}

/* Tool Names and changing with JavaScript */

.tool-photo{
    background: black url(farmer.jpeg) no-repeat center center/cover;
}
.shovel{
    background: black url(shovel.jpeg) no-repeat center center/cover;
}
.tractor{
    background: black url(tractor.jpeg) no-repeat center center/cover;
}

.gardening-fork{
    background: black url(Gardening-fork.jpeg) no-repeat center center/cover;
}

.wheel-barrow{
    background: black url(wheelbarrow.jpeg) no-repeat center center/cover;

}

.maize{
    background: black url(maize.jpeg) no-repeat center center/cover;

}

.mp{
    background: black url(MP.png) no-repeat center center/cover;

}

.tool-description{
    /* border: 1px solid black; */
    width: 50%;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 5rem 0rem;
    
}

.heading-name{
    margin-bottom: 1rem;
    color: rgb(30, 207, 83);
}

/* weather */

.input{
    text-align: center;
    margin: 100px auto;
  }
  
  input[type="submit"]{
    padding: 15px 30px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .input input[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .card{
    width: 50%;
    background: #e7e7e7;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
  }
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h1{
    padding: 5px 0;
    text-align: center;
  }
  
  .card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  }
  
  .tool-name:first-child{
      padding: 2rem;
  }

  .tool-name:last-child{
      padding: 2rem;
  }

  
iframe{
    height: 500px;
    width: 100%;
    border: 3px solid black;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
